
.shopItem__container{
    height:250px;
} 

.shoptItem__imageContainer{
    height:100%;
    width: 100%;
   
     
  

}

@media(min-width:760px){
    .shoptItem__imageContainer {
    
    height: 200px; 
    
}
}