
/* .shoptItem__imageContainer{
    height:400px;
} */
/* .shopItem__container{
    border:1px solid red;
}
.shoptItem__imageContainer{
    height:300px;
   
     
  

} */
.shoptItem__imageContainer {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}