.cartItem__displayImage{
    height: 250px;
}
.cartItem__displayImage img{
    
    height: 100%;
    object-fit:contain;
}


@media(max-width: 759px ){
    .cartItem__displayImage {
    width: 100%;
    height: 300px;
}
.cartItem__displayImage img{
    height: 100%;
}

}
